<div id="calc" class="mt-5">
    <div class="container  ">
                <h3 class="text-center title-h3 mb-5">Calculo de férias</h3>
                <div>
                    <form class="needs-validation">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputAddress" class="p-grey input-grey">Dias de férias:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-grey" id="diasFer"
                                        placeholder="20" v-model="calc.diasFer">
                                    <div class="input-group-append">
                                        <div class="input-group-text"
                                            style="background-color:#B61624;color: #fff; border: 0px;">Dias</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress" class="p-grey input-grey">Dias de abono:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-grey" id="diasAbon"
                                        placeholder="10" v-model="calc.diasAbon">
                                    <div class="input-group-append">
                                        <div class="input-group-text"
                                            style="background-color:#B61624;color: #fff; border: 0px;">Dias</div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress" class="p-grey">Adiantamento 13 Salário:</label>
                                <select class="custom-select mr-sm-2 input-grey" v-model="calc.adiantamento13"
                                    id="adiantamento13">
                                    <option value="0">Não</option>
                                    <option value="1">Sim</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputAddress" class="p-grey input-grey">Numero de dependetes:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control input-grey" id="numDep"
                                        placeholder="0" v-model="calc.numDep">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress" class="p-grey input-grey">Valor do salário base:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"
                                            style="background-color:#B61624;color: #fff; border: 0px;">R$</div>
                                    </div>
                                    <input type="text" class="form-control input-grey" id="salBase"
                                        placeholder="1.000,00">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress" class="p-grey input-grey">Remuneração variáveis:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"
                                            style="background-color:#B61624;color: #fff; border: 0px;">R$</div>
                                    </div>
                                    <input type="text" class="form-control input-grey" id="remVal"
                                        placeholder="1.000,00" >
                                </div>
                            </div>
                        </div>
                        <button  type="submit" class="btn bg-red text-white mt-3 pr-5 pl-5 mr-3"
                            v-on:click="calculaRescisao">Calcular</button>
                        <button type="submit" class="btn bg-secondary pr-5 pl-5 mt-3 text-white"
                            v-on:click="limpaRescisao">Limpar</button>

                    </form>
                </div>
                <div v-if="flagCalculo">
                    <h3 class="text-center title-h3 mt-5">Visualize o Resultado Abaixo</h3>
                    <div class="table-responsive mt-5">
                        <table class="table" style="width: 100%!important;">
                            <thead>
                                <tr style="width: 20%;">
                                    <th scope="col" class="text-p-red">Evento</th>
                                    <th scope="col" class="text-p-red">Provento</th>
                                    <th scope="col" class="text-p-red">IRRF</th>
                                    <th scope="col" class="text-p-red">INSS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr :class="[proventos.saldoSala == '-' ?'value_off':'']">
                                    <th scope="row" class="title-table">Férias</th>
                                    <td>R$ <span class="money">{{proventos.saldoFer}}</span></td>
                                    <td>Sim</td>
                                    <td>Sim</td>
                                </tr>
                                <tr :class="[proventos.avPrev == '-' ? 'value_off':'']">
                                    <th scope="row" class="title-table">Adicional de Férias (1/3)</th>
                                    <td>R$ <span class="money">{{proventos.adc1_3Fer}}</span></td>
                                    <td>Sim</td>
                                    <td> Sim </td>
                                </tr>
                                <tr :class="[proventos.recAntEmpre == '-' ? 'value_off':'']">
                                    <th scope="row" class="title-table">Abono Pecuniário
                                    </th>
                                    <td>R$ <span class="money">{{proventos.abonoPec}}</span></td>
                                    <td>Não</td>
                                    <td>Não</td>
                                </tr>
                                <tr :class="[proventos.salFamili == '-' ? 'value_off':'']">
                                    <th scope="row" class="title-table">1/3 Abono Pecuniário</th>
                                    <td>R$ <span class="money">{{proventos.abonoPec1_3}}</span></td>
                                    <td>Não</td>
                                    <td>Não</td>
                                </tr>
                                <tr :class="[proventos.prop13 == '-' ? 'value_off':'']">
                                    <th scope="row" class="title-table">Parcela adiantada do 13</th>
                                    <td>R$ <span class="money">{{proventos.parc1_3}}</span></td>
                                    <td>Não</td>
                                    <td>Não</td>
                                </tr>
                                <tr :class="[proventos.prop13Inde == '-' ? 'value_off':'']">
                                    <th scope="row" class="title-table">INSS</th>
                                    <td>R$ <span class="money">{{proventos.INSS}}</span></td>
                                    <td>Sim</td>
                                    <td>-</td>
                                </tr>
                                <tr :class="[proventos.ferVcd == '-' ? 'value_off':'']">
                                    <th scope="row" class="title-table">IRRF</th>
                                    <td>R$ <span class="money">{{proventos.IRRF}}</span></td>
                                    <td>-</td>
                                    <td>Não</td>
                                </tr>
                            </tbody>

                        </table>
                        <table class="table mt-5 " style="width: 100%!important;">
                            <thead>
                                <tr>
                                    <th scope="col" class="row-resp"><b>TOTAL</b></th>
                                    <th scope="col" class="col-4">R$ <span
                                            class="money">{{proventos.total}}</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
